<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="#home">HOME</a> | <a href="#menu">MENU</a> |
          <a href="#location">LOCATION</a> | <a href="#aboutus">ABOUT US</a> |
          <a href="#contactus">CONTACT US</a>
        </nav>
      </header>

      <section id="home">
        <img src="/images/banner.jpg" />
        <!-- Add images here -->
      </section>

      <section id="menu">
        <h2>Our Menu</h2>
        <div class="grid-container">
          <img src="/images/menu1.jpg" alt="Menu item 1" />
          <img src="/images/menu2.jpg" alt="Menu item 2" />
          <img src="/images/menu3.jpg" alt="Menu item 3" />
        </div>
      </section>

      <section id="location">
        <h2>Location</h2>
        <p>No 59 Edo Innovation Hub, Edo State, Nigeria</p>
        <!-- Add map widget here -->
      </section>

      <section id="contactus">
        <h2>Contact Us</h2>
        <p>
          Got questions? Want to place an order? Call us at +2348105996123 or
          email us at ayodeleayodeji250@gmail.com
        </p>
      </section>

      <iframe
        width="350"
        height="430"
        allow="microphone;"
        src="https://console.dialogflow.com/api-client/demo/embedded/5e251d03-d19f-4de3-9b22-2cb0191b9c6d"
      ></iframe>
    </div>
  </body>
</html>
